html, body{
  background-color:lightgrey;
}

body {
  color:lightcoral;
}

h1 {
  text-align: center;
}

.nav-link {
  font-size: larger;
  font-weight: bolder;
  color: floralwhite;
}

.nav-link:focus, .nav-link:hover{
  color: antiquewhite;
}

#layout-container {
  margin-top: 2rem;
}

.jumbotron {
  background-color: white;
  border-radius: 10px 0px 10px 10px;
}
