a, a:hover, a:focus, body {
  color:white;
}

.nav-link {
  font-size: larger;
}

#layout-container {
  margin-top: 2rem;
}

.jumbotron, .nav-item {
  background-color: darksalmon;
}

.jumbotron {
  border-radius: 10px 0px 10px 10px;
}
